<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="IgnoredDNs" value="002024"/>
    <add key="LogFile" value="C:\Users\a897235\OneDrive - Atos\Desktop\CleanDN.log"/>
    <add key="FolderToProcessFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\"/>
    <add key="FolderToBackupFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\Backup\"/>
    <add key="FolderNonProcessedFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\Nao.Processadas\"/>
    <add key="FileToProcess" value="BCFI62.LHDIF"/>
  </appSettings>
</configuration>